name: Pull Docker Image And Upload Artifact

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker image with tag (e.g. nginx:1.25)'
        required: true
      platform:
        description: 'Target platform'
        required: true
        default: 'linux/amd64'
        type: choice
        options:
          - linux/amd64
          - linux/arm64

jobs:
  pull-and-pack:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate filename
        id: filename
        run: |
          SAFE_IMAGE=$(echo "${{ inputs.image }}" | tr '/:' '_')
          SAFE_PLATFORM=$(echo "${{ inputs.platform }}" | tr '/' '_')
          echo "value=${SAFE_IMAGE}_${SAFE_PLATFORM}.tar.gz" >> $GITHUB_OUTPUT

      - name: Pull and Save Image
        run: |
          echo "Pulling ${{ inputs.image }} for ${{ inputs.platform }}"
          docker pull --platform=${{ inputs.platform }} "${{ inputs.image }}"
          docker save "${{ inputs.image }}" | gzip > "${{ steps.filename.outputs.value }}"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: image
          path: ${{ steps.filename.outputs.value }}
